<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #personForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{"Upload File" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="form-label" for="DefaultFileUploadFileInput">File uploader Demo</label>
                        <p-fileUpload
                            customUpload="true"
                            id="DefaultFileUploadFileInput"
                            name="DefaultFileUploadFileInput"
                            (uploadHandler)="uploadFile($event)"
                            [(url)] = "uploadUrl"
                            accept=".pdf,.doc,.docx,application/msword"
                            maxFileSize="10000000"
                            (onBeforeSend)="onBeforeSend($event)">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadFiles.length">
                                    <li *ngFor="let file of uploadFiles">{{file.name}}-{{file.size}} bytes</li>
                                </ul>
                            </ng-template>

                        </p-fileUpload>

                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{"Cancel" | localize}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
